.section-form{
  max-width: 100%;
  height: 490px;
}

.header-underline-form{  /* oscylowanie nagłówka sekcji*/
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 10px;
  max-width: 100%;
  position: relative;
  padding-left: 5px;
}

.header-underline-form::after{ /* pozycja linie pod hederem*/
  content: "";
  position: absolute;
  border: 3px solid #00CFA5;
  width:315px;
  top: 45px;
  left: 6px;
}

.section-form-text{/* pozycjonowanie sekcji z formularzem do wypełnienia*/
  width: 634px;
  float: left;
  margin-top: 38px;
  height: 375px;

}

.section-form-checkbox{ /* pozycjonowanie sekcji z fotelem i zgoda na przetwarzanie danych*/
  width: 342px;
  float: left;
  height: 375px;
  margin-top: 38px;
  position: relative;

}

.section-form-text *{ /* oscylowanie pol do wypełnienia*/
  width: 615px;
  height: 60px;
  margin-bottom: 25px;
  margin-left: 5px;
  padding-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  border: 1px solid #9BE8D2;
}

::-webkit-input-placeholder {   /* zmiana koloru placeholdera i prefixy do przegladarek*/
  color: #C6C6C6;
}

:-moz-placeholder { /* Firefox 18- */
  color: #C6C6C6;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #C6C6C6;
}

:-ms-input-placeholder {
  color: #C6C6C6;
}

label{
  color: #C6C6C6;
}

.section-form-text textarea{ /* oscylowanie textarea*/
  padding-top: 15px;
  padding-bottom: 115px;
  resize: none;
}

.red-chair{ /*pozycjonowanie krzesła*/
  position: absolute;
  top: -25px;
  left: 75px;
}

.checkbox-form{ /* pozycjonowanie checkboxa*/
  position: absolute;
  top: 210px;
  left: 55px;
  width: 50px;
  height: 50px;

}

.checkbox-form-info{ /* pozycjonowanie zgody*/
  position: absolute;
  top: 218px;
  left: 125px;
  font-size: 16px;
}

.send-form{ /* oscylowanie i pozycjonowanie znacznika wyslij*/
  position: absolute;
  bottom: 5px;
  right: -60px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  width: 342px;
  height: 71px;
  background-color: #00C4A2;
  border: 1px solid #00C4A2;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}