/*------------------------------------------------------------------------------------------
SECTION CHAIR
--------------------------------------------------------------------------------------------*/
@mixin fotos-chairs {
  position: absolute;
  width: 350px;
  height: 250px;
  top: 130px;
  left: 190px;
  z-index: 1;
}

/*------------------------------------------------------------------------------------------
SECTION FOTOS
--------------------------------------------------------------------------------------------*/
@mixin section-fotos-headers { /* mixin dla hederow w foto w sekcji fotos*/
  position: absolute;
  bottom: 90px;
  left: 0;
  padding-left: 18px;
  padding-bottom: 23px;
  padding-top: 20px;
  background-color: rgba(255,255,255,0.5);
  width: 328px;
}

@mixin section-fotos-headers-underline { /* mixin dla podkreslinkow hederow foto w sekcji fotos*/
  content: "";
  position: absolute;
  border: 3px solid #00CFA5;
  width:130px;
  bottom: 15px;
  left: 15px;
}

/*------------------------------------------------------------------------------------------
SECTION-PRICE
-------------------------------------------------------------------------------------------*/

@mixin header-price{  /* nagłowki w kolumnach z cena*/
  max-width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #00D4A9;
  margin-bottom: 25px;
}


@mixin bigCircleBefore {
  content: "";
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  top: -38.5px;
  left: 136.5px;
}

@mixin smallCircleAfter {
  content: "";
  position: absolute;
  width: 26.5px;
  height: 26.5px;
  border-radius: 50%;
  left: 151px;
  top: -25.5px;
}

